# Ignore the virtual environment directory
venv
env
.venv
env/*

# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore environment files (if any, like .env)
.env*
.env.local
.env.*.local

# Ignore the default IDE directories
.idea
.vscode

# Ignore logs
*.log

# Ignore Dockerfile and .dockerignore file itself (optional)
Dockerfile
.dockerignore
